DB_HOST="localhost"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="tic-tac-toe"

REDIS_HOST=localhost
REDIS_PORT=6379

SECRET_KEY=your-secret-key
ALGORITHM=HS256
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://krestiki-noliki.su,https://krestiki-noliki.su"
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

CLOUDINARY_BASE_IMAGE_PUBLIC_ID=your-cloudinary-base-image-public-id

INTERNAL_SERVICE_KEY = your-internal-service-key

REDIS_ADDR = localhost:6379
FASTAPI_URL = http://localhost:8000
