@import "tailwindcss";

@theme{
  --color-primary: var(--color-violet-400);
}

:root {
  color-scheme: light dark;

  --bg-primary: #ffffff;
  --text-primary: #000000;
  --border-color: #d1d7e3;
  --border-color-transparent: #555c6950;
  --card-bg: var(--color-gray-400);
  --quiz-bg: var(--color-gray-200);
  --quiz-button-bg: var(--color-gray-100);
}

:root[data-theme="light"] {
  --bg-primary: #1a1a1a;
  --text-primary: #ffffff;
  --border-color: #020b1a;
  --border-color-transparent: #86909f50;
  --card-bg: var(--color-gray-800);
  --quiz-bg: #2a2a2a;
  --quiz-button-bg: #2a2a2a;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.3s,
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  overflow-x: clip;
}

img,
svg,
canvas {
  max-width: 100%;
}

.bg-primary {
  background-color: var(--bg-primary);
}

.text-primary {
  color: var(--text-primary);
}

.border-primary {
  border-color: var(--border-color);
}

.border-custom-transparent {
  border-color: var(--border-color-transparent);
}

.bg-card {
  background-color: color-mix(in srgb, var(--card-bg), transparent 60%);
}

.bg-quiz {
  background-color: var(--quiz-bg);
}

.bg-quiz-button {
  background-color: var(--quiz-button-bg);
}